:root {
  --color-black: #161617;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-black);
  color: white;
  margin: 0;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a,
a:visited {
  color: #f5cd66;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 8px 32px;
  color: var(--color-black);
  background-color: white;
  letter-spacing: 0.35px;
  appearance: none;
  font-size: 15px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  border: none;
  cursor: pointer;
}

button.outline {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.loader {
  display: inline-flex;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 12px;
  height: 12px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}